/* Navbar Style  */
h1,p {
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
}



#welcome{
    color: cornflowerblue;
}
/* Page Background */
body {
	background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-shading-watercolor-color-texture-image_20063.jpg");
	min-height: 100%;
	min-width: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}





